@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao App .Net Core 5 - Bike Life</h1>
    <p>Esse será um projeto voltado para contribuir com a organização de informações de trilhas e eventos relacionados a bike a região conhecida como circuito das frutas no estado de São Paulo.</p>
    <p>As 10 cidades do interior de SP que formam o rota são Atibaia, Indaiatuba, Itatiba, Itupeva, Jarinu, Jundiaí, Louveira, Morungaba, Valinhos e Vinhedo. Veja a seguir as atrações das regiões turísticas do Circuito das Frutas.</p>
    <p>Jarinu é uma bucólica região com muitas atrações para aquele que deseja tranquilidade e aproveitar as atrações do turismo rural próximo de São Paulo.

No caminho das expedições bandeirantes, a cidade na Serra da Mantiqueira guarda atrações históricas, como o Casarão Terra Brasil, casarão que serviu de suporte a expediçõe.

Jarinu produz morangos, pêssegos e ameixa, entre . Diversas frutas. acontece anualmente a Festas da Ameixa, em dezembro, e a Festa do morango, no mês de junho.<a href="https://youtu.be/eJ2OfEJiJBw"> venha conhece um pouco mais sobre Jarinu</a>.</p>
</div>
