@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>

<p>Realize seu contato para maiores informações, duvidas e sugestões.</p>

<form action="" class="">
<label for="contato-nome">Nome:</label>
<input type="text" name="nome" id="nome">
<label>E-mail:</label> 
<input type="email" name="email" id="email">
<label>Telefone:</label>
<input type="tel" id="fone" name="fone">
<Label>Mensagem:</Label>
<input type="text" id="msg" name="msg">
<input type="submit" value="Enviar">
</form>